.btn {
  padding: 16px 20px;
  width: 100%;
  font-size: 16px;
  box-shadow: var(--shadow-soft);

  font-weight: 500;
  border: none;
  border-radius: var(--radius-m);
  cursor: pointer;
  transition: all 0.2s ease;

  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.btn:hover {

  box-shadow: var(--shadow-soft-hover);
  border: 1px solid #29652436;
}

.btn:active{
  transform: translateY(2px);
background-color: var(--mint-bg-active)

}


.btn:focus{
  outline: none;
}

.primary {
  background-color: var(--mint-bg);
  color: var(--mint-text);
   border: 1px solid var(--mint-bg);
}

.secondary {
  background-color: white;
  color: var(--mint-text);
  border: 1px solid var(--mint-bg);
}

.danger {
  background-color: var(--color-danger);
  color: white;
  border: 1px solid var(--color-danger);
}
