*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-bg: #dcfaf0;
  --color-text: #49665b;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

:focus-visible {
  outline: 2px solid #4f46e5;
  outline-offset: 2px;
  border-radius: 8px;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding-left: 0;
}

/* ------- */
